bin/
obj/
riderModule.iml
/_ReSharper.Caches/
logs/*.*
logs/
/.idea/
*.DotSettings
*.DotSettings.user
appsettings.testdata.json
appsettings.local.json
internal-nlog.txt
/Nuages.API/aws-logger-errors.txt
/Nuages.Auth.UI3/aws-logger-errors.txt
node_modules
tailwind-output.css
/packages/
.DS_Store
Tests/.DS_Store
app.db